@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000;
    color: #fff;
}
.card{
    /* background-color: rgb(38, 38, 38); */
    box-shadow: #97979792 5px 7px 20px;
    border-radius: 5px;
}
.header{
    background-color: rgb(40, 40, 40);
}
.review-input{
    background-color: rgb(55, 55, 55);
}
.review-bg{
    background-color: rgb(35, 35, 35);
}

